body, p{
    font-size:13px;
}

.bar .logo {
    max-height: 3em;
}

footer .logo {
    max-height: 3em;
}

.type--fine-print {
    font-size: 1em;
}

section,
footer {
    padding-top: 3em;
    padding-bottom: 3em;
}

footer .type--fine-print:not(p) {
    opacity: 1;
}

.menu-horizontal>li:not(:hover)>a,
.menu-horizontal>li:not(:hover)>span,
.menu-horizontal>li:not(:hover)>.modal-instance>.modal-trigger {
    opacity: 1;
    font-weight: bold;
}

.registerForm > div {
    padding-left: 2% !important;
    padding-right: 2% !important;
    display: inline-block !important;
    float: left !important;
    clear: none;
}

input[type=checkbox], input[type=radio] {
    width: 3%;
    float: left;
    padding-left: 0px;
    margin-right: 20px;
    margin-top: -15px;
    
    
    
}

input[type=checkbox] + label,
input[type=radio] + label {
   display: ruby-text-container;
}
.feature > i, h4 {
    color: #fff !important;
}

.farming{
   background:url('../img/proudlybayelsan-03.png') !important;
   background-repeat:no-repeat !important;
   background-size: cover !important; 
   opacity: 0.8;
   filter: alpha(opacity=80);
}

.farming:hover{
    background: url('../img/proudlybayelsan-03.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.leathergoods {
    background: url('../img/proudlybayelsan-04.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.leathergoods:hover {
    background: url('../img/proudlybayelsan-04.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.catering {
    background: url('../img/proudlybayelsan-05.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.catering:hover {
    background: url('../img/proudlybayelsan-05.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.carpentry {
    background: url('../img/proudlybayelsan-06.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.carpentry:hover {
    background: url('../img/proudlybayelsan-06.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.elec {
    background: url('../img/proudlybayelsan-07.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.elec:hover {
    background: url('../img/proudlybayelsan-07.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.fashion {
    background: url('../img/proudlybayelsan-08.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.fashion:hover {
    background: url('../img/proudlybayelsan-08.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.intdesign {
    background: url('../img/proudlybayelsan-09.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.intdesign:hover {
    background: url('../img/proudlybayelsan-09.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.hairbeauty {
    background: url('../img/proudlybayelsan-10.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.hairbeauty:hover {
    background: url('../img/proudlybayelsan-10.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 1;
    filter: alpha(opacity=100);
}